<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.aueb.softeng.project1805">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/BKM"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoadingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PackagesActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_packages"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.TransferActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_transfer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.HistoryActivity"
            android:label="@string/title_activity_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.StatisticsActivity"
            android:label="@string/title_activity_statistics"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.UpdateActivity"
            android:label="@string/title_activity_update"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>